body{
    color: #40514E;
    margin: 0px;
    text-align: center;
    font-family: sans-serif;
}
h1{
    font-size: 5.625rem;
    font-family: 'Sacramento', cursive;
    margin: 0 auto;
    color: hsla(172, 95%, 18%, 1);
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: hsla(172, 95%, 18%, 1);
    font-weight: normal;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #6C3483;
}
p {
    line-height: 2;
}
hr {
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 6%;
    margin: 100px auto;
}
a:hover{
    color: #EAF6F6;
}
a{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}
.top-container{
    background-color: hsla(36, 31%, 90%, 1);
    position: relative;
    padding-top: 100px;
}
.top-cloud{
    width: 10%;
    position: absolute;
    right: 270px;
    top:45px;
}
.bottom-cloud{
    width: 10%;
    position:absolute;
    left: 200px;
    bottom: 400px;
}
.intro{
    width: 30%;
    margin: auto;
}

.skill-row{
    width: 50%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: left;
    line-height: 2;
}
.img-skill1{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.img-skill2{
    width: 25%;
    float: right;
    margin-left: 30px;
}
.middle-container{
    margin: 100px 0;
}
.contact-message{
    width: 40%;
    margin: 40px auto 60px;
}
.copyright{
    font-family: 'Montserrat', sans-serif;
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}
.bottom-container{
    background-color: #66BFBF;
    padding: 50px 0 20px;
}
.btn {
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
    background-image: -o-linear-gradient(top, #11CDD4, #11999E);
    background-image: linear-gradient(to bottom, #11CDD4, #11999E);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30E3CB;
    background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
    text-decoration: none;
  }
